@charset "UTF-8";
h1 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(33px, 3.2vw, 3.3rem);
  font-weight: 700;
  line-height: 110%;
  color: #ffffff;
}

h2 {
  font-family: "Rubik Vinyl", sans-serif;
  font-size: clamp(33px, 3.2vw, 3.3rem);
  font-weight: 400;
  color: #ffffff;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(16px, 2vw, 1.8rem);
  font-weight: 500;
  color: #ffffff;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(18px, 2.2vw, 1.7rem);
  font-weight: 400;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #bcbcbc;
}

.numbers {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 600;
  color: #ffffff;
  line-height: 55px;
}

.small-text {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1em;
}

body {
  background-color: #0f0f0f;
  display: flex;
  margin: 0 1rem;
  overflow-x: hidden;
}

html .box {
  padding: 20px 30px;
  border-radius: 14px;
  background: linear-gradient(120deg, #212121 0%, rgba(33, 33, 33, 0.2) 70%);
  border: 1px solid #353535;
}

.left-side {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 50vw;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 30px 50px;
}
.left-side .person-container img {
  max-width: 250px;
  width: 100%;
  height: auto;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 0 0px 3px #353535;
  margin-bottom: 35px;
}
.left-side .person-container h1 {
  letter-spacing: 0;
}
.left-side .person-container span {
  color: #6d8bff;
}
.left-side .person-container p {
  margin-top: 16px;
}

.socials-buttons-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.socials-buttons-container .buttons {
  display: flex;
  align-items: center;
  gap: 35px;
}
.socials-buttons-container .buttons .btn1 {
  position: relative;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.2em;
  padding: 12px 30px;
  border: 1px solid #353535;
  background: #131313;
  border-radius: 8px;
  transition: all 0.1s ease;
}
.socials-buttons-container .buttons .btn1:hover {
  background: var(--clr);
  color: var(--clr);
  box-shadow: 0 0 25px var(--clr);
}
.socials-buttons-container .buttons .btn1::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #131313;
  border-radius: 6px;
}
.socials-buttons-container .buttons .btn1 span {
  position: relative;
  z-index: 1;
  letter-spacing: 0.1em;
  transition: all 0.3s ease;
}
.socials-buttons-container .buttons .btn1:hover span {
  letter-spacing: 0.2em;
}
.socials-buttons-container .buttons .btn1 i {
  position: absolute;
  inset: 0;
  display: block;
}
.socials-buttons-container .buttons .btn1 i::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 80%;
  width: 20px;
  height: 10px;
  border: 2px solid var(--clr);
  background: #131313;
  transform: translateX(-50%);
  transition: all 0.3s ease;
}
.socials-buttons-container .buttons .btn1:hover i::before {
  width: 35px;
  left: 20%;
}
.socials-buttons-container .buttons .btn1 i::after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 80%;
  width: 20px;
  height: 10px;
  border: 2px solid var(--clr);
  background: #131313;
  transform: translateX(50%);
  transition: all 0.3s ease;
}
.socials-buttons-container .buttons .btn1:hover i::after {
  width: 35px;
  right: 20%;
}
.socials-buttons-container .buttons .btn2 {
  color: #ffffff;
  font-size: 18px;
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  transition: all 0.3s ease;
  overflow: hidden;
}
.socials-buttons-container .buttons .btn2:hover {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  background-color: #6d8bff;
  box-shadow: 0 0 10px #6d8bff, 0 0 25px #6d8bff, 0 0 70px #6d8bff;
  transition-delay: 1.5s;
}

.socials-buttons-container .buttons .btn2 span {
  position: absolute;
  display: block;
}

.socials-buttons-container .buttons .btn2 span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #6d8bff);
}

.socials-buttons-container .buttons .btn2:hover span:nth-child(1) {
  left: 100%;
  transition: 1s;
}

.socials-buttons-container .buttons .btn2 span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #6d8bff);
}

.socials-buttons-container .buttons .btn2:hover span:nth-child(3) {
  right: 100%;
  transition: 1s;
  transition-delay: 0.3s;
}

.socials-buttons-container .buttons .btn2 span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(270deg, transparent, #6d8bff);
}

.socials-buttons-container .buttons .btn2:hover span:nth-child(2) {
  top: 100%;
  transition: 1s;
  transition-delay: 0.6s;
}

.socials-buttons-container .buttons .btn2 span:nth-child(4) {
  top: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(270deg, transparent, #6d8bff);
}

.socials-buttons-container .buttons .btn2:hover span:nth-child(4) {
  top: 100%;
  transition: 1s;
  transition-delay: 1s;
}

.socials {
  display: flex;
  gap: 15px;
}
.socials a {
  /* 🔥 Teraz kolory działają tylko na hover */
}
.socials a .slink {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 50px;
  height: 50px;
  background-color: #141414;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  transition: width 0.3s ease-in-out;
  border: 1px solid #444;
}
.socials a .slink .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  height: 50px;
  border-radius: 60px;
}
.socials a .slink .icon i {
  font-size: 22px;
  color: #ffffff;
}
.socials a .slink span {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.socials a .slink:hover {
  width: 180px;
}
.socials a .slink:hover span {
  opacity: 1;
}
.socials a:nth-child(1) .slink:hover .icon {
  background-color: #4e4e4e;
}
.socials a:nth-child(2) .slink:hover .icon {
  background-color: #ea4c89;
}
.socials a:nth-child(3) .slink:hover .icon {
  background-color: #1769ff;
}
.socials a:nth-child(4) .slink:hover .icon {
  background-color: #d44638;
}
.socials a:nth-child(1) .slink:hover span {
  color: #c9c9c9;
}
.socials a:nth-child(2) .slink:hover span {
  color: #ea4c89;
}
.socials a:nth-child(3) .slink:hover span {
  color: #1769ff;
}
.socials a:nth-child(4) .slink:hover span {
  color: #d44638;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 50vw;
  margin-left: 50%;
  padding: 30px 40px;
}
.right-side h2 {
  padding-bottom: 10px;
  border-bottom: 2px solid #353535;
  margin-bottom: 35px;
}
.right-side .tools-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.right-side .tools-container .tool {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 16px;
  border-radius: 14px;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
}
.right-side .tools-container .tool .skills-img {
  background-color: #292929;
  padding: 25px;
  border-radius: 14px;
  transition: all 0.3s ease;
}
.right-side .tools-container .tool .skills-img img {
  width: 40px;
  height: 40px;
}
.right-side .tools-container .tool span {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: clamp(18px, 2.2vw, 1.7rem);
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease;
}
.right-side .tools-container .tool:hover {
  border-bottom: 1px solid #353535;
  border-right: 1px solid #353535;
}
.right-side .tools-container .tool:hover span {
  color: #6d8bff;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}
.right-side .tools-container .tool:hover .skills-img {
  background-color: #0f0f0f;
}
.right-side .services ul li {
  color: #6d8bff;
  font-size: 24px;
}
.right-side .services ul li a {
  display: inline-block;
  color: #ffffff;
  line-height: 39px;
  font-family: "Poppins", sans-serif;
  font-size: clamp(18px, 2.2vw, 1.7rem);
  font-weight: 400;
  margin-top: 5px;
  transition: all 0.3s ease;
}
.right-side .services ul li a:hover {
  color: #6d8bff;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
}
.right-side .counters.box {
  background: transparent;
  border: none;
  display: flex;
  gap: 16px;
  justify-content: space-between;
  padding: 0;
}
.right-side .counters.box .counter-box {
  background: linear-gradient(120deg, #212121 0%, rgba(33, 33, 33, 0.2) 70%);
  padding: 30px 25px;
  border-radius: 14px;
  border: 1px solid #353535;
  text-align: center;
  flex: 1;
  transition: all 0.3s ease;
  cursor: pointer;
}
.right-side .counters.box .counter-box span {
  color: #bcbcbc;
}
.right-side .counters.box .counter-box:hover {
  background-color: rgb(0, 0, 0);
}
.right-side .portfolio .btn {
  display: inline-block;
  margin-top: 32px;
  background-color: #6d8bff;
  outline: none;
  border: none;
  width: -moz-max-content;
  width: max-content;
  padding: 15px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #0f0f0f;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.right-side .portfolio .btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(180, 180, 180, 0.2);
}
.right-side .portfolio .portfolio-boxes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.right-side .portfolio .portfolio-boxes .portfolio-item {
  position: relative;
  display: flex;
  align-items: end;
  min-height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #353535;
  border-radius: 10px;
  overflow: hidden;
}
.right-side .portfolio .portfolio-boxes .portfolio-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.right-side .portfolio .portfolio-boxes .portfolio-item .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1;
  padding: 0 26px 26px;
  transition: all 0.3s ease;
}
.right-side .portfolio .portfolio-boxes .portfolio-item .title h3 {
  transition: all 0.3s ease;
}
.right-side .portfolio .portfolio-boxes .portfolio-item .title i {
  font-size: 25px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
}
.right-side .portfolio .portfolio-boxes .portfolio-item .title:hover {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0));
}
.right-side .portfolio .portfolio-boxes .portfolio-item .title:hover h3 {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 3px;
  color: #6d8bff;
}
.right-side .portfolio .portfolio-boxes .portfolio-item .title:hover i {
  transform: translateX(-5px) scale(1.05);
}
.right-side .portfolio .portfolio-boxes .portfolio-item:nth-child(1) {
  background-image: url("Images/KKCODE MOCKUP2.png");
}
.right-side .portfolio .portfolio-boxes .portfolio-item:nth-child(2) {
  background-image: url("Images/Macbook Mockup2.jpg");
}
.right-side .portfolio .portfolio-boxes .portfolio-item:nth-child(3) {
  background-image: url("Images/Macbook Mockup4.jpg");
}
.right-side .contact-form form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.right-side .contact-form form .input-row {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.right-side .contact-form form .input-row .input-box {
  flex: 1;
}
.right-side .contact-form form .input-box {
  display: flex;
  flex-direction: column;
}
.right-side .contact-form form .input-box input {
  background-color: #262626;
  outline: none;
  border: 1px solid #353535;
  height: 70px;
  border-radius: 14px;
  padding: 15px;
  color: #ffffff;
  font-size: 20px;
  transition: all 0.3s ease;
}
.right-side .contact-form form .input-box input:focus, .right-side .contact-form form .input-box input:hover {
  background-color: #181818;
  border: 1px solid #6d8bff;
}
.right-side .contact-form form .input-box span {
  color: #ffffff;
  margin-bottom: 10px;
}
.right-side .contact-form form .input-box textarea {
  background-color: #262626;
  outline: none;
  border: 1px solid #353535;
  height: 120px;
  border-radius: 14px;
  padding: 15px;
  color: #ffffff;
}
.right-side .contact-form form .input-box textarea:focus, .right-side .contact-form form .input-box textarea:hover {
  background-color: #181818;
  border: 1px solid #6d8bff;
}
.right-side .contact-form form .btn {
  background-color: #6d8bff;
  outline: none;
  border: none;
  width: -moz-max-content;
  width: max-content;
  padding: 15px 30px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #0f0f0f;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.right-side .contact-form form .btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(180, 180, 180, 0.2);
}
.right-side .cta .content {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.right-side .cta .content .numbers span {
  color: #6d8bff;
}
.right-side .cta .content i {
  font-size: 25px;
  background-color: #ffffff;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  margin-left: 0px;
}
.right-side .cta .content i:hover {
  transform: translateX(-5px) scale(1.05);
  box-shadow: 0 0 10px #375fff, 0 0 20px #6d8bff, 0 0 40px #93a8ff;
}
.right-side .footer span {
  color: #ffffff;
  font-size: 18px;
}
.right-side .footer span .accent {
  display: inline;
  color: #6d8bff;
  position: relative;
  font-weight: 800;
  cursor: pointer;
}
.right-side .footer span .accent:before {
  content: "Frontend Developer";
  color: #ffffff;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 25px;
  font-weight: 300;
  background-color: #0f0f0f;
  border: 1px solid #353535;
  position: absolute;
  top: -60px;
  width: 150px;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(0) translateX(-50%);
  transition: all 0.3s ease;
}
.right-side .footer span .accent:hover::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateX(0);
}

@media (max-width: 1460px) {
  p {
    font-size: 16px;
  }
  .socials a .slink {
    width: 50px;
    height: 50px;
  }
  .socials a .slink:hover {
    width: 160px;
  }
  .socials a .slink .icon {
    min-width: 50px;
    height: 50px;
  }
  .socials a .slink .icon i {
    font-size: 20px;
    color: #ffffff;
  }
  .socials a .slink span {
    font-size: 16px;
  }
}
@media (max-width: 1260px) {
  body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .left-side {
    position: static;
    max-width: 100%;
    padding: 1rem;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .right-side {
    margin-left: 0%;
    padding: 1rem;
    width: 100%;
  }
}
@media (max-width: 660px) {
  html body {
    margin: 0;
  }
  html .box {
    padding: 15px 15px;
  }
  p {
    font-size: 14px;
  }
  .socials-buttons-container .buttons {
    flex-direction: column;
  }
  .socials-buttons-container .buttons .btn1 {
    padding: 10px 15px;
    font-size: 16px;
  }
  .socials-buttons-container .buttons .btn1 i::before {
    width: 15px;
    height: 7px;
  }
  .socials-buttons-container .buttons .btn1 i::after {
    width: 15px;
    height: 7px;
  }
  .socials-buttons-container .buttons .btn2 {
    font-size: 16px;
    padding: 10px 15px;
  }
  .right-side .tools-container {
    align-items: center;
    justify-content: center;
  }
  .right-side .tools-container .tool {
    flex-direction: column;
    width: 100%;
  }
  .right-side .tools-container .tool span {
    font-size: 18px;
  }
  .socials-buttons-container {
    align-items: start;
  }
  .right-side .counters.box {
    flex-direction: column;
  }
  .services ul {
    margin-left: 15px;
  }
  .right-side .portfolio-boxes .portfolio-item {
    min-height: 300px;
  }
  .right-side .portfolio-boxes .portfolio-item .title i {
    font-size: 20px;
    padding: 3px;
  }
  .right-side .contact-form form .input-row {
    flex-direction: column;
  }
  .numbers {
    font-size: 32px;
    line-height: 35px;
  }
}/*# sourceMappingURL=style.css.map */