@import "variables";
@import "typography";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	letter-spacing: 0.1em;
}

body {
	background-color: $background-color;
	display: flex;
	margin: 0 1rem;
	overflow-x: hidden;
}

html .box {
	padding: 20px 30px;
	border-radius: 14px;
	background: $box-gradient-color;
	border: 1px solid $stroke-color;
}

// LEFT FIXED SIDE //
.left-side {
	position: fixed;
	top: 0;
	left: 0;
	max-width: 50vw;
	width: 100%;
	min-height: 100vh;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
	padding: 30px 50px;

	.person-container {
		img {
			max-width: 250px;
			width: 100%;
			height: auto;
			border-top-left-radius: 50px;
			border-bottom-right-radius: 50px;
			box-shadow: 0 0 0px 3px $stroke-color;
			margin-bottom: 35px;
		}
		h1 {
			letter-spacing: 0;
		}

		span {
			color: $accent-color;
		}
		p {
			margin-top: 16px;
		}
	}
}

// SECOND PART LEFT SIDE - BUTTONS & SOCIALS
.socials-buttons-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 35px;

	.buttons {
		display: flex;
		align-items: center;
		gap: 35px;

		.btn1 {
			position: relative;
			color: $white-color;
			padding: 10px 25px;
			background: linear-gradient(
				20deg,
				$background-color 0%,
				rgba(33, 33, 33, 0.2) 90%
			);
			border: 1px solid $stroke-color;
			font-size: 18px;
			border-radius: 8px;
			transition: all 0.5s ease;
		}

		.btn1:hover {
			background: linear-gradient(
				120deg,
				#000000 0%,
				rgba(33, 33, 33, 0.2) 90%
			);
		}

		.btn2 {
			color: $white-color;
			font-size: 18px;
			position: relative;
			display: inline-block;
			padding: 10px 25px;
			transition: all 0.3s ease;
			overflow: hidden;
		}

		.btn2:hover {
			color: rgb(0, 0, 0);
			text-decoration: underline;
			background-color: $accent-color;
			box-shadow: 0 0 10px $accent-color, 0 0 25px $accent-color,
				0 0 70px $accent-color;
			transition-delay: 1.5s;
		}
	}
}

// BORDER EFFECT BTN2 HIRE ME!//

.socials-buttons-container .buttons .btn2 span {
	position: absolute;
	display: block;
}

.socials-buttons-container .buttons .btn2 span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, $accent-color);
}

.socials-buttons-container .buttons .btn2:hover span:nth-child(1) {
	left: 100%;
	transition: 1s;
}
.socials-buttons-container .buttons .btn2 span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, $accent-color);
}

.socials-buttons-container .buttons .btn2:hover span:nth-child(3) {
	right: 100%;
	transition: 1s;
	transition-delay: 0.3s;
}

.socials-buttons-container .buttons .btn2 span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(270deg, transparent, $accent-color);
}

.socials-buttons-container .buttons .btn2:hover span:nth-child(2) {
	top: 100%;
	transition: 1s;
	transition-delay: 0.6s;
}

.socials-buttons-container .buttons .btn2 span:nth-child(4) {
	top: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(270deg, transparent, $accent-color);
}

.socials-buttons-container .buttons .btn2:hover span:nth-child(4) {
	top: 100%;
	transition: 1s;
	transition-delay: 1s;
}

// SOCIAL ICONS //
.socials {
	display: flex;
	gap: 15px;

	a {
		.slink {
			display: flex;
			align-items: center;
			justify-content: left;
			width: 50px;
			height: 50px;
			background-color: #141414;
			border-radius: 50px;
			overflow: hidden;
			cursor: pointer;
			transition: width 0.3s ease-in-out;
			border: 1px solid #444;

			.icon {
				display: flex;
				align-items: center;
				justify-content: center;
				min-width: 50px;
				height: 50px;
				border-radius: 60px;

				i {
					font-size: 22px;
					color: $white-color;
				}
			}

			span {
				font-size: 18px;
				font-weight: 500;
				color: $white-color;
				margin-left: 10px;
				opacity: 0;
				transition: opacity 0.3s ease;
			}

			&:hover {
				width: 180px;

				span {
					opacity: 1;
				}
			}
		}

		/* 🔥 Teraz kolory działają tylko na hover */
		&:nth-child(1) .slink:hover .icon {
			background-color: #4e4e4e;
		}

		&:nth-child(2) .slink:hover .icon {
			background-color: #ea4c89;
		}

		&:nth-child(3) .slink:hover .icon {
			background-color: #1769ff;
		}

		&:nth-child(4) .slink:hover .icon {
			background-color: #d44638;
		}

		&:nth-child(1) .slink:hover span {
			color: #c9c9c9;
		}

		&:nth-child(2) .slink:hover span {
			color: #ea4c89;
		}

		&:nth-child(3) .slink:hover span {
			color: #1769ff;
		}

		&:nth-child(4) .slink:hover span {
			color: #d44638;
		}
	}
}
// RIGHT SCROLL SIDE STYLES //

.right-side {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 50vw;
	margin-left: 50%;
	padding: 30px 40px;

	h2 {
		padding-bottom: 10px;
		border-bottom: 2px solid $stroke-color;
		margin-bottom: 35px;
	}

	// Tools Skills //
	.tools-container {
		display: flex;
		flex-direction: column;
		gap: 16px;

		.tool {
			display: flex;
			align-items: center;
			padding: 10px;
			gap: 16px;
			border-radius: 14px;
			width: max-content;
			cursor: pointer;

			.skills-img {
				background-color: #292929;
				padding: 25px;
				border-radius: 14px;
				transition: all 0.3s ease;

				img {
					width: 40px;
					height: 40px;
				}
			}

			span {
				color: $white-color;
				font-family: $font-primary;
				font-size: $font-h4;
				font-weight: $weight-regular;
				cursor: pointer;
				transition: all 0.3s ease;
			}

			&:hover {
				border-bottom: 1px solid $stroke-color;
				border-right: 1px solid $stroke-color;

				span {
					color: $accent-color;
					text-decoration: underline;
					text-decoration-thickness: 3px;
					text-underline-offset: 3px;
				}

				.skills-img {
					background-color: $background-color;
				}
			}
		}
	}

	// Services //
	.services ul li {
		color: $accent-color;
		font-size: 24px;

		a {
			display: inline-block;
			color: $white-color;
			line-height: 39px;
			font-family: $font-primary;
			font-size: $font-h4;
			font-weight: $weight-regular;
			margin-top: 5px;
			transition: all 0.3s ease;

			&:hover {
				color: $accent-color;
				text-decoration: underline;
				text-decoration-thickness: 3px;
				text-underline-offset: 3px;
			}
		}
	}

	// Counters//
	.counters.box {
		background: transparent;
		border: none;
		display: flex;
		gap: 16px;
		justify-content: space-between;
		padding: 0;

		.counter-box {
			background: $box-gradient-color;
			padding: 30px 25px;
			border-radius: 14px;
			border: 1px solid $stroke-color;
			text-align: center;
			flex: 1;
			transition: all 0.3s ease;
			cursor: pointer;

			span {
				color: $text-color;
			}

			&:hover {
				background-color: rgb(0, 0, 0);
			}
		}
	}

	// Portfolio //

	.portfolio {
		.btn {
			display: inline-block;
			margin-top: 32px;
			background-color: $accent-color;
			outline: none;
			border: none;
			width: max-content;
			padding: 15px 30px;
			font-family: $font-primary;
			font-size: $font-p;
			font-weight: $weight-regular;
			color: $background-color;
			border-radius: 8px;
			cursor: pointer;
			transition: all 0.3s ease;

			&:hover {
				transform: scale(1.05);
				box-shadow: 0 0 15px rgba(180, 180, 180, 0.2);
			}
		}

		.portfolio-boxes {
			display: flex;
			flex-direction: column;
			gap: 16px;

			.portfolio-item {
				position: relative;
				display: flex;
				align-items: end;
				min-height: 500px;
				width: 100%;
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				border: 1px solid $stroke-color;
				border-radius: 10px;
				overflow: hidden;

				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0.3);
					z-index: 0;
				}

				.title {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
					z-index: 1;
					padding: 0 26px 26px;
					transition: all 0.3s ease;

					h3 {
						transition: all 0.3s ease;
					}

					i {
						font-size: 25px;
						background-color: $white-color;
						padding: 5px;
						border-radius: 50px;
						cursor: pointer;
						transition: all 0.3s ease;
						border: 1px solid transparent;
					}

					&:hover {
						background: linear-gradient(
							to top,
							rgba(0, 0, 0, 0.99),
							rgba(0, 0, 0, 0)
						);
					}

					&:hover h3 {
						text-decoration: underline;
						text-decoration-thickness: 3px;
						text-underline-offset: 3px;
						color: $accent-color;
					}

					&:hover i {
						transform: translateX(-5px) scale(1.05);
					}
				}
			}

			.portfolio-item:nth-child(1) {
				background-image: url("Images/KKCODE MOCKUP2.png");
			}

			.portfolio-item:nth-child(2) {
				background-image: url("Images/Macbook Mockup2.jpg");
			}

			.portfolio-item:nth-child(3) {
				background-image: url("Images/Macbook Mockup4.jpg");
			}
		}
	}

	// Contact Form //

	.contact-form form {
		display: flex;
		flex-direction: column;
		gap: 32px;

		.input-row {
			display: flex;
			justify-content: space-between;
			gap: 16px;

			.input-box {
				flex: 1;
			}
		}
		.input-box {
			display: flex;
			flex-direction: column;

			input {
				background-color: #262626;
				outline: none;
				border: 1px solid $stroke-color;
				height: 70px;
				border-radius: 14px;
				padding: 15px;
				color: $white-color;
				font-size: 20px;
				transition: all 0.3s ease;

				&:focus,
				&:hover {
					background-color: #181818;
					border: 1px solid $accent-color;
				}
			}
			span {
				color: $white-color;
				margin-bottom: 10px;
			}
			textarea {
				background-color: #262626;
				outline: none;
				border: 1px solid $stroke-color;
				height: 120px;
				border-radius: 14px;
				padding: 15px;
				color: $white-color;

				&:focus,
				&:hover {
					background-color: #181818;
					border: 1px solid $accent-color;
				}
			}
		}

		.btn {
			background-color: $accent-color;
			outline: none;
			border: none;
			width: max-content;
			padding: 15px 30px;
			font-family: $font-primary;
			font-size: $font-p;
			font-weight: $weight-regular;
			color: $background-color;
			border-radius: 8px;
			cursor: pointer;
			transition: all 0.3s ease;

			&:hover {
				transform: scale(1.05);
				box-shadow: 0 0 15px rgba(180, 180, 180, 0.2);
			}
		}
	}

	// Call to Action //
	.cta .content {
		display: flex;
		align-items: end;
		justify-content: space-between;

		.numbers span {
			color: $accent-color;
		}
		i {
			font-size: 25px;
			background-color: $white-color;
			padding: 5px;
			border-radius: 50px;
			cursor: pointer;
			transition: all 0.3s ease;
			border: 1px solid transparent;
			margin-left: 0px;

			&:hover {
				transform: translateX(-5px) scale(1.05);
				box-shadow: 0 0 10px #375fff, 0 0 20px #6d8bff, 0 0 40px #93a8ff;
			}
		}
	}

	// Footer //
	.footer span {
		color: $white-color;
		font-size: 18px;

		.accent {
			display: inline;
			color: $accent-color;
			position: relative;
			font-weight: 800;
			cursor: pointer;

			&:before {
				content: "Frontend Developer";
				color: $white-color;
				padding: 10px;
				border-radius: 4px;
				font-size: 12px;
				line-height: 25px;
				font-weight: 300;
				background-color: $background-color;
				border: 1px solid $stroke-color;
				position: absolute;
				top: -60px;
				width: 150px;
				height: 100%;
				opacity: 0;
				visibility: hidden;
				transform: scale(0) translateX(-50%);
				transition: all 0.3s ease;
			}

			&:hover::before {
				opacity: 1;
				visibility: visible;
				transform: scale(1) translateX(0);
			}
		}
	}
}

// ------------------------------------- MEDIA RESPONSIVE -----------------------------------------//
@media (max-width: 1460px) {
	p {
		font-size: 16px;
	}

	.socials a .slink {
		width: 50px;
		height: 50px;

		&:hover {
			width: 160px;
		}
		.icon {
			min-width: 50px;
			height: 50px;

			i {
				font-size: 20px;
				color: $white-color;
			}
		}
		span {
			font-size: 16px;
		}
	}
}

@media (max-width: 1260px) {
	body {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.left-side {
		position: static;
		max-width: 100%;
		padding: 1rem;
		min-height: fit-content;
	}

	.right-side {
		margin-left: 0%;
		padding: 1rem;
		width: 100%;
	}
}

@media (max-width: 660px) {
	html body {
		margin: 0;
	}
	html .box {
		padding: 15px 15px;
	}

	p {
		font-size: 14px;
	}

	.socials-buttons-container .buttons .btn1 {
		padding: 10px 15px;
		font-size: 16px;
	}

	.socials-buttons-container .buttons .btn2 {
		font-size: 16px;
		padding: 10px 15px;
	}
	.right-side .tools-container {
		align-items: center;
		justify-content: center;
	}

	.right-side .tools-container .tool {
		flex-direction: column;
		width: 100%;
	}
	.right-side .tools-container .tool span {
		font-size: 18px;
	}

	.socials-buttons-container {
		align-items: start;
	}

	.right-side .counters.box {
		flex-direction: column;
	}
	.services ul {
		margin-left: 15px;
	}
	.right-side .portfolio-boxes .portfolio-item {
		min-height: 300px;

		.title i {
			font-size: 20px;
			padding: 3px;
		}
	}

	.right-side .contact-form form .input-row {
		flex-direction: column;
	}

	.numbers {
		font-size: 32px;
		line-height: 35px;
	}
}
